@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000 !important;
  width: 100vw;
  height: 100vh;
}

#page {
}

/* form page style */
.form-con {
  width: 100vw;
  height: 91vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1579532649672-13fac8cde626?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80");
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-blend-mode: darken;
  color: rgb(255, 206, 146) !important;
  position: relative;
}
.form-con::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.13);
  position: absolute;
  width: 100vw;
  height: 93vh;
  z-index: 1;
}

#form-name {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: black;
  width: 10rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
#name {
  background: #e9d4d2;
  border: none;
  display: block;
  margin-bottom: 1rem;
}
#button {
  background: #dac8c7;
  border: none;
  display: block;
  width: 4rem;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
}
/* form page style ends */

/* wish page style */
.con {
  width: 100vw;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1551892644-51a6e2e8fc65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=640&q=80");
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-blend-mode: darken;
  color: rgb(255, 206, 146) !important;
  position: relative;
}
.con::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100vw;
  height: 93vh;
  z-index: 1;
}
.con > .container {
  height: 30rem;
  padding: 2rem;
  opacity: 0.8;
  z-index: 2;
}
h1 {
  margin-top: 1em !important;
  font-family: "Dancing Script", cursive;
}
.txt-type > .text {
  position: relative;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
.text::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 90%;
  border-right: 0.1rem solid #fff;
  animation: blink 0.3s ease-in-out infinite;
}

.new {
  z-index: 4;
  font-family: "Open Sans", sans-serif !important;
  font-weight: bold !important;
  padding: 0.2rem;
  border: none;
  box-shadow: none;
  width: 5rem;
  border-radius: 5rem;
  color: #000;
  background: rgb(255, 206, 146) !important;
  position: absolute;
  bottom: 0.5rem;
}
/* wish page style ends */

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}
footer > .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}

.foot-icon > img {
  height: 2rem;
  width: 2rem;
  margin: 0 0.2rem 0 0.2rem;
}

footer > .text-center > a {
  text-decoration: none;
  color: rgb(167, 167, 167);
}
footer > .text-center {
  color: rgb(82, 82, 82) !important;
}
footer > .text-center > a,
footer > .text-center {
  font-family: "Open Sans", sans-serif !important;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 605px) {
  .con {
    height: 90vh;
  }
  .con::after {
    height: 90vh;
  }
  .container {
    height: 25rem;
  }
  img {
    height: 15rem;
    width: 15rem;
  }
  .page-footer > .container {
    height: 3rem !important;
  }
}
